

    <div class="jumbotron">
        <h1>Top Anime Finder!!!  </h1>
        <p></p>
    </div>
  
        <form method="post" action="/courses/byStudio">
            Show Anime by Studio: 
              <input type="text" name="studio" 
                     placeholder="Wit Studio">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/courses/bySpecialWord">
            Show Anime by special Word: 
            <input type="text" name="sword" 
                   placeholder="Bungou Stray Dogs">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/courses/byhypenumber">
            Show Anime by hype number: 
              <input type="text" name="hypenumber" 
                     placeholder="22">
            <input type="submit">
        </form>
        

        <br>
        <!-- <a href="/schedule/show">Show Schedule</a> -->
       
        


  


